* {
	font: 12px helvetica, sans-serif;
}

#content {
	width: 75%;
	margin: 10px auto 10px auto;
}

.produkt {
	border: 1px solid black;
	background-color: red;
	margin-bottom: 6px;
}

.produkt .titel {
	font-size: 15px;
	font-weight: bold;
}

.produkt img {
	float: left;
}