* {
	font: 12px helvetica, sans-serif;
}

body {
	background-color: black;
	color: white;
}

a {
	color: #ff3100;
	text-decoration: none;
}

a:hover {
	color: #ff6440;
	text-decoration: underline;
}

#content {
	width: 75%;
	margin: 10px auto 10px auto;
}

.produkt {
	border: 1px solid white;
	background-color: #63afd0;
	color: black;
	margin-bottom: 6px;
}

.produkt .titel {
	font-size: 15px;
	font-weight: bold;
}

.produkt img {
	float: left;
}

.error {
	border: 1px solid #ff4444;
	background-color: #ffcccc;
	color: black;
	padding: 4px;
}

.error_msg {
	line-height: 0px;
}